body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo-login {
  max-width: 200px;
  margin-bottom: 30px;
}
.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.login-container button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}
h1 {
  text-align: left;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha ao canto esquerdo */
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  align-self: stretch;
  background: #2c7be5;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

b.login-container button:hover {
  background-color: #218838;
}
